:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #002128;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 5vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #131E00;
  cursor: pointer;
  transition: border-color 0.5 ease;
  
}
/*button:hover {
  border-color: #646cff;
}*/
button:focus,
button:focus-visible {
  outline: 2px solid #646cff;
}


.botao-add{
  background-color: #113300;
  height: 3.45rem;
  margin-left: 2rem
}
.botao-add:hover{
  border-color: #24490C ;
  background-color: #25470e  ;
}

.delete-button{
  background-color: #510000;
}
.delete-button:hover{
  background-color: #490101;
}

.to-do-list{
  
  text-align: center;
  margin-top: 100px;
  
}
.container{
  display: flex;
  justify-content: space-between;
  
}

.move-button{
  background-color: #181B64;
}

input[type="text"]{
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent; 
}
input[type="text"]:hover{
  border-color: #646cff ;
}
input[type="text"]:focus{
  
 outline: 1.2px solid #646cff;
}
ol{
  padding: 0;
  list-style-type: none;
}
li{
  font-size: 1.8rem;
  padding: 0.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: 2px solid #646cff;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.delete-button,.move-button{
  font-size: 1.18rem;
  margin-left: 1rem ;
}